{
  "title"         : "Mongo View",
  "content_file"  : "README.md",
  "include_index" : true,
  "header"        : "Mongo View",
  "docco_files"   : [
    "./app/*.js",
    "./bin/*.js",
    "./public/js/mongo-view.js",
    "./public/js/com.edwardhotchkiss.notify.js"
  ],
  "subheader"     : "Node.JS MongoDB web-based Admin/Viewer Tool",
  "background"    : "diagonal-noise",
  "github"        : "https://github.com/edwardhotchkiss/mongo-view"
}