{
  "title"         : "MongoDB-Viewer",
  "content_file"  : "README.md",
  "include_index" : true,
  "header"        : "MongoDB-Viewer",
  "docco_files"   : ["./app/helpers/*.js","./app/lib/*.js","./app/middleware/*.js","./app/controllers/rest.js","./app/controllers/collections.js"],
  "subheader"     : "Node.JS MongoDB web-based Admin/Viewer Tool",
  "background"    : "diagonal-noise",
  "github"        : "https://github.com/edwardhotchkiss/mongodb-viewer"
}