<h1>MongoDB Viewer</h1>
<form id="connection-form" action="/" method="post">
  <fieldset>
    <input type="text" name="connection-string" id="connection-string" placeholder="MongoDB Connection String..." value="mongodb://localhost/test" />
    <input type="submit" id="connect-button" name="connect-button" value="Connect &raquo;" />
  </fieldset>
</form>