
* {
  margin: 0;
  padding: 0; 
}

body { 
  margin-top: 100px;
  background: url(../images/bg.png) repeat;
  font-size: 11px;
  font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
}

h1 {
  font-family: 'Helvetica Neue', Helvetica, Tahoma;
  font-size: 36px;
  letter-spacing: -1px;
  text-shadow: 0 1px 1px #fff;
  margin-bottom: 15px;
  color: #4c3a2c;
}

p {
  line-height: 16px;
}

ul {
  list-style: none;
}

a:hover {
  border-bottom: 2px solid #4c3a2c;
}

#github {
  position: absolute;
  top: 0;
  right: 0; 
  border: 0; 
}

#github a {
  border: none;
}

#container {
  width: 600px;
  position: relative;
  margin: 0 auto 0 auto;
}

#connection-form {
  width: 537px;
  background: #fff;
  padding: 20px 20px 20px 20px;
  -webkit-box-shadow: 0 0 5px 5px #ddd;
  -moz-box-shadow: 0 0 5px 5px #ddd;
}

#creative-commons {
  background: #fefefe;
  border-top: 1px solid #dadada;
  padding: 10px 0 10px 0;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0;
}

#creative-commons p {
  text-align: center;
}

#creative-commons p a, #creative-commons p a:active, #creative-commons p a:visited, #creative-commons p a:hover {
  color: #4c3a2c;
  border-bottom: 1px solid #4c3a2c;
  text-decoration: none;
}

#connect-button {
  position: relative;
  float: right;
  width: 100px;
}

#collections {
  width: 570px;
  padding: 15px;
  background: #eee;
  border: 2px solid #ccc;
}

#collections ul li {
  padding: 5px 0 5px 0;
}

#collections ul li a {
  color: #000;
  text-shadow: 0 1px 1px #efefef;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

fieldset { 
  border: none;
}

input[type=text] {
  margin: 0 0 0 0;
  width: 400px;
  position: relative;
  float: left;
}

input { 
  padding: 7px; 
  background: #eee; 
  width: 400px; 
  color: #7d7d7d; 
  border: 1px solid #d9d9d9;
  font-size: 11px;
  font-family: Verdana, arial, sans-serif;
  -webkit-box-shadow: inset 0 2px 3px rgba(150, 150, 150, .2);
  -moz-box-shadow: inset 0 2px 3px rgba(150, 150, 150, .2);
}

input:hover { 
  background: #ddd; 
}

input[type=button], input[type=submit] {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #74be65), color-stop(50%, #6ca860));
  background: -moz-linear-gradient(center top, #74be65 50%, #6ca860 50%);
  border: none;
  font-family: 'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;  
  -webkit-box-shadow: 0 0 1px 1px #eee; 
  -moz-box-shadow: 0 0 1px 1px #eee;  
  color: #fff;
  text-shadow: 0px 1px 1px #4e9142;
  font: 11px;
  text-align: center;
  padding: 7px 5px 7px 5px;
  margin-left: 2px;
  width: 100px;
}

input[type=submit]:hover, input[type=button]:hover {
  background: #74be65;
  cursor: pointer;
}

input[disabled], [disabled], input[disabled]:hover {
  background: #f2f2f2;
  border: 1px solid #c8c8c8;
  color: #c8c8c8;
  cursor: wait;
}

/* EOF */