
#indicator {
  position: absolute;
  bottom: 50px;
  left: 20px;
  z-index: 99;
  .opacity(85);
  width: 800px;
  display: none;
}

#indicator h1 {
  font-size: 24px;
  font-family: 'Helvetica','Helvetica-Neue';
  font-weight: 750;
  letter-spacing: -1px;
  color: #000;
}