
* {
  margin: 0;
  padding: 0; 
}

body {
  background: url(../images/bg.png) 0 0 repeat; 
  color: #333;
  font-family: @defaultFont;
  font-size: @defaultFontSize;
  line-height: 1.5;
}

li {
  list-style: none;
}

a {
  border-bottom: 1px solid @linkColor;
  color: @linkColor;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid @linkColor;
}

blockquote {
  font-style: italic;
}

code {
  background: #fef8c4;
  border: 1px solid #d8d566;
  color: #000;
  display: inline;
  padding: 2px 5px;
}

/* github */

#github {
  position: absolute;
  top: 0;
  right: 0; 
  border: 0; 
  opacity: 0.3;
}

#github a {
  border: none;
}

#content {
  margin: 0 auto 0 auto;
  position: relative;
  width: @siteWidth;
  padding-top: 40px;
}

#connect {
  margin: 0 auto 0 auto;
  position: relative;
  width: 400px;
  margin-top: 120px;
  background-color: @white;
  padding: 15px 15px 15px 15px;
}

/* EOF */