
* {
  margin: 0;
  padding: 0; 
}

body {
  background: url(../images/bg.png) 0 0 repeat;  
}

/* github */

#github {
  position: absolute;
  top: 0;
  right: 0; 
  border: 0; 
  opacity: 0.3;
}

#github a {
  border: none;
}

/* EOF */