
.main {
  @shadow: 0 1px 6px #bbb;
  .border-radius(0);
  .box-shadow(@shadow);
  margin: 0 auto 0 auto;
  position: relative;
  width: 405px;
  margin-top: 120px;
  background-color: @white;
  padding: 15px;
}

#collections, #collection, #item {
  padding: 15px 15px 25px 15px;
}

#collections ul li span {
  font-weight: bold;
  margin-left: 5px;
}

#item-header {
  font-weight: bold;
  margin: 10px 0 10px 0;
  padding: 0 0 5px 0;
}

#item .key, #item prop {
  margin: 2px 0 2px 0;  
}

#item .key {
  width: 200px;
}

#item .prop p {
  text-align: left;
  width: 200px;
}

.identifier-number {
  color: #8679cc;
}

.identifier-string {
  color: #362a72; 
}

.identifier-objectid {
  font-weight: bold;
  color: #000;
}