
// Accent colors

@blue:                  #049cdb;
@blueDark:              #0064cd;
@green:                 #46a546;
@red:                   #9d261d;
@yellow:                #ffc40d;
@orange:                #f89406;
@pink:                  #c3325f;
@purple:                #7a43b6;
@red:										#EE5F5B;

// Variables

@white:                 #fff;
@black:                 #000;
@bgColor:               rgb(186,204,213);
@leftbarColor:          rgb(238,242,244);
@lightBlue:             rgb(213,225,231);
@navBorder:             rgb(177,192,198);

@linkColor:             rgb(16,97,116);
@linkColorHover:        #C95750;
@placeholderText:       #aaa;
@pColor:                #999;
@hColor:                lighten(@linkColor, 10%);
@hrColor:               #eee;
@base-url:				      "../";

// Forms 

@textWidth:             479px;
@labelWith:             130px;
@textHeight:            32px;

// Paginate

@paginateHeight:        20px;
