<h1>MongoDB Viewer: Collections</h1>

<div id="collections">
  <% if (collections) { %>
    <ul>
      <% collections.forEach(function(collection) { %>
        <li>
          <a href="/database/<%= db_name %>/collections/<%= collection.name %>/"><%= collection.name %></a> 
          <span class="count"><%= collection.count %></span>
        </li>
      <% }); %>
    </ul>
  <% } %>
</div>