
<div id="information" class="span12 center">
  <h2>MongoDB-Viewer: Collections</h2>
  <div class="column-outer">
    <div id="data" class="column-inner left">
      <% if (collections) { %>
        <ul>
          <% collections.map(function(collection) { %>
            <% if (collection) {
              <li>
                <a href="/database/<%= db_name %>/collections/<%= collection.name %>/">
                  <%= collection.name %>
                  <span class="count">
                    <%= collection.count %>
                  </span>
                </a>
              </li>
            <% } %>
          <% } %>
        </ul>
      <% } %>
    </div>
  </div>
</div>
