
div#information(class="span12 center")
  h2 MongoDB-Viewer: Collections
  div(class="column-outer")
    div#data(class="column-inner left")
      - if (collections)
        ul
          - each collection in collections
            - if (collection)
              li
                a(href="/database/#{db_name}/collections/#{collection.name}/")
                  #{collection.name}
                span(class="count") #{collection.count}