!!! 5
html(lang="en")
  head
    title MongoDB Viewer | NodeJS MongoDB web-based admin/viewer tool
    meta(name="title", content="MongoDB Viewer")
    meta(name="description", content="NodeJS MongoDB web-based admin/viewer tool")
    link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="/css/boilerplate.min.css")
    link(rel="stylesheet", href="/css/style.css")
  body
 
    div#github
      a(href="http://github.com/edwardhotchkiss/mongodb-viewer", title="github: `mongodb-viewer`")
        img(src="https://a248.e.akamai.net/assets.github.com/img/71eeaab9d563c2b3c590319b398dd35683265e85/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67", alt="")
 
    div#container
      != body

    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js")
    script(type="text/javascript", src="/js/app.js")
