<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MongoDB Viewer | NodeJS MongoDB web-based admin/viewer tool</title>
    <meta name="title" content="MongoDB Viewer">
    <meta name="description" content="NodeJS MongoDB web-based admin/viewer tool">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/boilerplate.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div id="github">
      <a href="http://github.com/edwardhotchkiss/mongodb-viewer" title="github: `mongodb-viewer`">
        <img src="/images/github-fork-me.png" alt="">
      </a>
    </div>
    <%- body %>
  </body>
</html>