!!! 5
html(lang="en")
  head
    title MongoDB Viewer | NodeJS MongoDB web-based admin/viewer tool
    meta(name="title", content="MongoDB Viewer")
    meta(name="description", content="NodeJS MongoDB web-based admin/viewer tool")
    link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="/css/boilerplate.min.css")
    link(rel="stylesheet", href="/css/style.css")
  body
 
    div#github
      a(href="http://github.com/edwardhotchkiss/mongodb-viewer", title="github: `mongodb-viewer`")
        img(src="/images/github-fork-me.png", alt="")
 
    != body

    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js")
    script(type="text/javascript", src="/js/app.js")
